@import url('../variables.css');
main .cards {
  max-width: 900px;
  margin: 0 20px;
}
main .cards .card,
main .cards .click-container,
main .cards .card-media-img,
main .cards .card-media {
    background: #161616 !important;
    /* gris foncé */
    color: var(--text) !important;
    border-color: #333 !important;
}
/* tags légèrement plus clairs sur fond gris */
main .cards .tag {
    background: #2f2f2f !important;
    border-color: #3a3a3a !important;
    color: var(--text) !important;
}